<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Heck with Tech</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
   <header class="hero">
        <h1 class="title"><a href="/">The Heck With Tech</a></h1>
        <nav class="nav-bar">
            <a href="">
                <h3>Home</h3>
            </a>
            <a href="">
                <h3>Dashboard</h3>
            </a>
            <a href="">
                <h3>Logout</h3>
            </a>
        </nav>
   </header>

    <main>
       {{{body}}}
    </main>
</body>
</html>               