{{#if posts.length}}
{{#each posts as |post|}}

<section class="dashboard-content">
  <h2 class="h2">Your Posts</h2>
    <a href="/posts/{{post.id}}">
    <div class="post-title">
        <span>{{post.title}}</span>
    </div>
    </a>
     <div class="post-content">
        <span>{{post.content}}</span>
    </div>
    <div class="db-date">
        <span>Posted on: {{format_date post.created_at}}</span>
    </div>
</section>
{{/each}}
{{/if}}


<section class="form-signin text-center">
    <h3 class="h3">New Post</h3>
    <form class="card-body" id="add-post-form">
        <div class="form-floating mb-3">
            <label for="post-title" class="form-label" ></label>
           
            <input type="text" id="post-title" name="post-title" class="form-input w-100" autofocus="true" placeholder="Post Title"/>
        </div>

        <div class="form-floating mb-3">
          
            <label class="form-label" for="content" ></label>
            <textarea id="post-content" name="content" class="form-input w-100" aria-label="With textarea"
                autofocus="true" placeholder="What's on your mind?"></textarea>
        </div>


        <button type="submit" class="w-100 btn btn-lg btn-secondary mb-3">Create Post</button>
    </form>
    </form>
</section>

<script src='/js/createPost.js'></script>

