{{> post}}

{{#if loggedIn}}
<div class="container-fluid">
    <div class="card m-3 d-flex text-center">
        <h4 class="card-header">Leave a comment</h4>
        <div class="card-body container-fluid d-flex">
             <form action="" class="card-body comment-form" id="comment-form">
            <label for="comment-form" class="form-label"></label>
            {{!-- <input type="text" id="comment" name="comment-text" class="form-input"> --}}
            <textarea class="text-align-center" name="textarea" id="textarea" cols="32" rows="3" placeholder="Leave your comment here"></textarea>
            <button type="submit" class="btn btn-block m-3">Submit comment</button>
        </form>
        </div>
    </div>
</div>
    
    {{/if}}

    {{> comment post.comments}}

    {{#if loggedIn}}
        <script src="/js/comment.js"></script>
    {{/if}}